{% extends "layout.html" %}
{% block title %}Vaihda salasanaa{% endblock %}
{% block content %}
<div class="form">
  <form action="/change_password/{{ user_id }}" method="post">
    <p>
      <label for="old_password">Vanha salasana</label>:<br />
      <input type="password" id="old_password" name="old_password" maxlength="20" required />
    </p>
    <p>
      <label for="password1">Uusi salasana</label>:<br />
      <input type="password" id="password1" name="password1" maxlength="20" required />
    </p>
    <p>
      <label for="password2">Uusi salasana uudelleen</label>:<br />
      <input type="password" id="password2" name="password2" maxlength="20" required />
    </p>
    <input type="submit" value="Vaihda salasana" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
</div>
{% endblock %}
