{% extends "layout.html" %}
{% block title %}Kommentit{% endblock %}
{% block content %}
<div class = "post">
  <p>
    {{ post.time }}, <a href="/user/{{ post.user_id }}">{{ post.username }}</a>:
  </p>
  <p>
    {{ post.content | show_lines }}
  </p>
  <p>
    <strong>{{ post.class }}</strong>
  </p>
</div>
<div class="search">
  {% if session.username %}
  <p>
    <a href="/new_comment/{{ post.id }}">Uusi kommentti</a>
  </p>
  {% else %}
  <p>
    <a href=/login>Kirjaudu sisään</a> kommentoidaksesi
  </p>
  {% endif %}
  <form action="/comments/{{ post.id }}" method="get">
    <p>
      <label for="keyword">Etsi kommentteja</label>:<br />
      <input type="text" id="keyword" name="keyword" value="{{ keyword.keyword if keyword }}" maxlength="1000" required />
      <button name="content">Sisällön mukaan</button>
      <button name="username">Käyttäjänimellä</button>
    </p>
  </form>
  {% if keyword %}
  <form action="/comments/{{ post.id }}" method="get">
    <p>
      Tulokset haulle "{{ keyword.keyword }}":
      <button>Peruuta</button>
    </p>
  </form>
  {% endif %}
</div>
<div class="posts">
  {% for comment in comments %}
  <div class="post" id="{{ comment.id }}">
    <p>
      {{ comment.time }}, <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>:
    </p>
    <p>
      {{ comment.content | show_lines }}
    </p>
    {% if comment.username == session.username or session.admin %}
    <p>
      <a href="/edit_comment/{{ comment.id}}">Muokkaa</a> |
      <a href="/delete_comment/{{ comment.id }}">Poista</a>
    </p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% if page %}
<div class="pages">
  <form action="/comments/{{ post.id }}" method="get">
    {% if page.page > 2 %}
    <button name="page" value="1">&lt;&lt;</button>
    {% endif %}
    {% if page.page > 1 %}
    <button name="page" value="{{ page.page - 1 }}">&lt;</button>
    {% endif %}
    Sivu {{ page.page }}/{{ page.count }}
    {% if page.page < page.count %}
    <button name="page" value="{{ page.page + 1 }}">&gt;</button>
    {% endif %}
    {% if page.page < page.count - 1 %}
    <button name="page" value="{{ page.count }}">&gt;&gt;</button>
    {% endif %}
    {% if keyword %}
    <input type="hidden" name="keyword" value="{{ keyword.keyword }}" />
    <input type="hidden" name="{{ keyword.type }}" />
    {% endif %}
  </form>
</div>
{% endif %}
{% endblock %}
