<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <title>Muokkaa postausta</title>
  </head>
  <body>
    <div class="top">
      <a href="/">Etusivulle</a>
      <hr />
      <hr />
    </div>
    <div class="edit">
      <h2>
        Muokkaa postausta
      </h2>
      <form action="/edit_post/{{ post.id }}" method="post">
        <p>
          Tee tarvittavat muutokset: <br />
          <textarea name="content" rows="5" cols="50">{{ post.content }}</textarea>
        </p>
        <p>
          <input type="radio" name="class" value="Shitpost" {{ "checked = \"checked\"" if post.class == "Shitpost" else None}} \> Shitpost
          <input type="radio" name="class" value="Asiallinen" {{ "checked = \"checked\"" if post.class == "Asiallinen" else None}} \> Asiallinen
        </p>
        <input type="submit" value="Muokkaa" />
      </form>
      {% if message %}
      <p>
        {{ message }}
      </p>
      {% endif %}
    </div>
  </body>
</html>
