{% extends "layout.html" %}
{% block title %}Muokkaa kommenttia{% endblock %}
{% block content %}
<div class="form">
  <form action="/edit_comment/{{ comment.id }}" method="post">
    <p>
      <label for="content">Tee tarvittavat muutokset</label>:<br />
      <textarea id="content" name="content" rows="7" cols="70" maxlength="1000" required>{{ filled.content if filled else comment.content }}</textarea>
    </p>
    <input type="submit" value="Muokkaa" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
</div>
{% endblock %}
