{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block nav %}
{% if session.username %}
<li>
  Käyttäjä <a href="/user/{{ session.id }}">{{ session.username }}</a>
</li>
<li>
  <a href="/logout">Kirjaudu ulos</a>
</li>
{% else %}
<li>
  <a href="/register">Rekisteröidy</a>
</li>
<li>
  <a href="/login">Kirjaudu sisään</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="search">
  {% if session.username %}
  <p>
    <a href="/new_post">Uusi postaus</a>
  </p>
  {% else %}
  <p>
    <a href=/login>Kirjaudu sisään</a> postataksesi
  </p>
  {% endif %}
  <form action="/" method="get">
    <p>
      <label for="keyword">Etsi postauksia</label>:<br />
      <input type="text" id="keyword" name="keyword" value="{{ keyword[0] if keyword }}" maxlength="1000" required />
      <button name="content">Sisällön mukaan</button>
      <button name="username">Käyttäjänimellä</button>
    </p>
  </form>
  {% if keyword %}
  <form action="/" method="get">
    <p>
      Tulokset haulle "{{ keyword[0] }}":
      <button>Peruuta</button>
    </p>
  </form>
  {% endif %}
</div>
<div class="posts">
  {% for post in posts %}
  <div class="post" id="{{ post.id }}">
    <p>
      {{ post.time }}, <a href="/user/{{ post.user_id }}">{{ post.username }}</a>:
    </p>
    <p>
      {{ post.content | show_lines }}
    </p>
    <p>
      <strong>{{ post.class }}</strong>
    </p>
    <p>
      <a href="/comments/{{ post.id }}">{{ post.count }} kommenttia</a>
    </p>
    {% if post.username == session.username or session.admin %}
    <p>
      <a href="/edit_post/{{ post.id }}">Muokkaa</a> |
      <a href="/delete_post/{{ post.id }}">Poista</a>
    </p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% if page %}
<div class="pages">
  <form action="/" method="get">
    {% if page.page > 2 %}
    <button name="page" value="1">&lt;&lt;</button>
    {% endif %}
    {% if page.page > 1 %}
    <button name="page" value="{{ page.page - 1 }}">&lt;</button>
    {% endif %}
    Sivu {{ page.page }}/{{ page.count }}
    {% if page.page < page.count %}
    <button name="page" value="{{ page.page + 1 }}">&gt;</button>
    {% endif %}
    {% if page.page < page.count - 1 %}
    <button name="page" value="{{ page.count }}">&gt;&gt;</button>
    {% endif %}
    {% if keyword %}
    <input type="hidden" name="keyword" value="{{ keyword[0] }}" />
    <input type="hidden" name="{{ keyword[1] }}" />
    {% endif %}
  </form>
</div>
{% endif %}
{% endblock %}
