{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block nav %}
{% if session.username %}
<li>
  Käyttäjä <a href="/user/{{ session.id }}">{{ session.username }}</a>
</li>
<li>
  <a href="/logout">Kirjaudu ulos</a>
</li>
{% else %}
<li>
  <a href="/register">Rekisteröidy</a>
</li>
<li>
  <a href="/login">Kirjaudu sisään</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="search">
  {% if session.username %}
  <p>
    <a href="/new_post">Uusi postaus</a>
  </p>
  {% else %}
  <p>
    <a href=/login>Kirjaudu sisään</a> postataksesi
  </p>
  {% endif %}
  <form action="/" method="post">
    <p>
      <label for="keyword">Etsi postauksia</label>:<br />
      <input type="text" id="keyword" name="keyword" value="{{ keyword[0] if keyword }}" maxlength="1000" required />
      <input type="submit" name="content" value="sisällön perusteella" />
      <input type="submit" name="username" value="käyttäjänimellä" />
    </p>
  </form>
  {% if keyword %}
  <form action="/" method="post">
    <p>
      Tulokset haulle "{{ keyword[0] }}":
      <input type="submit" name="cancel" value="Peruuta" />
    </p>
  </form>
  {% endif %}
</div>
<div class="posts">
  {% for post in posts %}
  <div class="post" id="{{ post.id }}">
    <p>
      {{ post.time }}, <a href="/user/{{ post.user_id }}">{{ post.username }}</a>:
    </p>
    <p>
      {{ post.content | show_lines }}
    </p>
    <p>
      <strong>{{ post.class }}</strong>
    </p>
    <p>
      <a href="/comments/{{ post.id }}">{{ post.count }} kommenttia</a>
    </p>
    {% if post.username == session.username or session.admin %}
    <p>
      <a href="/edit_post/{{ post.id }}">Muokkaa</a> |
      <a href="/delete_post/{{ post.id }}">Poista</a>
    </p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% if page %}
<div class="pages">
  <form method="post">
    {% if page.page > 2 %}
    <input type="submit" formaction="/1" value="&lt;&lt;" />
    {% endif %}
    {% if page.page > 1 %}
    <input type="submit" formaction="/{{ page.page - 1 }}" value="&lt;" />
    {% endif %}
    Sivu {{ page.page }}/{{ page.count }}
    {% if page.page < page.count %}
    <input type="submit" formaction="/{{ page.page + 1 }}" value="&gt;" />
    {% endif %}
    {% if page.page < page.count - 1 %}
    <input type="submit" formaction="/{{ page.count }}" value="&gt;&gt;" />
    {% endif %}
    {% if keyword %}
    <input type="hidden" name="keyword" value="{{ keyword[0] }}" />
    <input type="hidden" name="{{ keyword[1] }}" />
    {% endif %}
  </form>
</div>
{% endif %}
{% endblock %}
