<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="top">
      <div class="header">
        <h1>
          {{ self.title() }}
        </h1>
      </div>
      <div class="nav">
        <nav>
          <ul>
            {% block nav %}
            <li>
              <a href="/">Etusivulle</a>
            </li>
            {% if session.username %}
            <li>
              Käyttäjä <a href="/user/{{ session.id }}">{{ session.username }}</a>
            </li>
            <li>
              <a href="/logout">Kirjaudu ulos</a>
            </li>
            {% else %}
            <li>
              <a href="/register">Rekisteröidy</a>
            </li>
            <li>
              <a href="/login">Kirjaudu sisään</a>
            </li>
            {% endif %}
            {% endblock %}
          </ul>
        </nav>
      </div>
    </div>
    {% if get_flashed_messages() %}
    <div class="alert">
      {% for message in get_flashed_messages() %}
      <p>
        {{ message }}
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
