<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <title>Kirjaudu sisään</title>
  </head>
  <body>
    <div class="top">
      <a href="/">Etusivulle</a>
      <hr />
      <hr />
    </div>
    <div class="login">
      <h2>
        Kirjaudu sisään
      </h2>
      <form action="/login" method="post">
        <p>
          Käyttäjätunnus: <br />
          <input type="text" name="username" />
        </p>
        <p>
          Salasana: <br />
          <input type="password" name="password" />
        </p>
        <input type="submit" value="Kirjaudu sisään" />
      </form>
      <p>
        Tai <a href="/register">Rekisteröidy</a>
      </p>
      {% if message %}
      <p>
        {{ message }}
      </p>
      {% endif %}
    </div>
  </body>
</html>
