{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block nav %}
<li>
  <a href="/">Etusivulle</a>
</li>
{% endblock %}
{% block content %}
<div class="form">
  <form action="/register" method="get">
    Tai
    <button id="get">Rekisteröidy</button>
    <input type="hidden" name="next_page" value="{{ next_page }}" />
  </form>
  <form action="/login" method="post">
    <p>
      <label for="username">Käyttäjätunnus</label>:<br />
      <input type="text" id="username" name="username" maxlength="20" value="{{ filled.username }}" required />
    </p>
    <p>
      <label for="password">Salasana</label>:<br />
      <input type="password" id="password" name="password" maxlength="20" required />
    </p>
    <button>Kirjaudu sisään</button>
    <input type="hidden" name="next_page" value="{{ next_page }}" />
  </form>
</div>
{% endblock %}
