<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <title>Julkaise postaus</title>
  </head>
  <body>
    <div class="top">
      <a href="/">Etusivulle</a>
      <hr />
      <hr />
    </div>
    <div class="new">
      <h2>
        Julkaise postaus
      </h2>
      <form action="/new_post" method="post">
        <p>
          Mitä mietteitä: <br />
          <textarea name="content" rows="5" cols="50"></textarea>
        </p>
        <p>
          <input type="radio" name="class" value="Shitpost" \> Shitpost
          <input type="radio" name="class" value="Asiallinen" \> Asiallinen
        </p>
        <input type="submit" value="Julkaise" />
      </form>
      {% if message %}
      <p>
        {{ message }}
      </p>
      {% endif %}
    </div>
  </body>
</html>
