<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <title>Kommentoi postausta</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="top">
      <a href="/">Etusivulle</a>
      <hr />
      <hr />
    </div>
    <div class="new">
      <h2>
        Kommentoi postausta
      </h2>
      <form action="/new_comment/{{ post_id }}" method="post">
        <p>
          <label for="content">Mitä mietteitä</label>:<br />
          <textarea id="content" name="content" rows="5" cols="50" maxlength="1000" required></textarea>
        </p>
        <input type="submit" value="Kommentoi" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </form>
    </div>
  </body>
</html>
