<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <title>Rekisteröidy</title>
  </head>
  <body>
    <form action="/create_account" method="post">
      <p>
        Käyttäjätunnus: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password1" />
      </p>
      <p>
        Salasana uudelleen: <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Rekisteröidy" />
    </form>
  </body>
</html>
