{% extends "layout.html" %}
{% block title %}Käyttäjä {{ user.username }}{% endblock %}
{% block nav %}
<li>
  <a href="/">Etusivulle</a>
</li>
{% if session.username %}
<li>
  <a href="/logout">Kirjaudu ulos</a>
</li>
{% else %}
<li>
  <a href="/register">Rekisteröidy</a>
</li>
<li>
  <a href="/login">Kirjaudu sisään</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="user">
  <p>
    {% if user.has_image %}
    <img id="image" src="/show_image/{{ user.id }}" alt="profiilikuva" />
    {% else %}
    <em>Ei profiilikuvaa</em>
    {% endif %}
  </p>
  <p>
    {{ user.post_count }} postausta
  </p>
  <p>
    {{ user.comment_count }} kommenttia
  </p>
  {% if user.post_count %}
  <form action="/" method="get">
    <p>
      <input type="hidden" name="keyword" value="{{ user.username }}" />
      <button id="get" name="username">Näytä käyttäjän postaukset</button>
    </p>
  </form>
  {% endif %}
  {% if user.comment_count %}
  <form action="/comments" method="get">
    <p>
      <input type="hidden" name="keyword" value="{{ user.username }}" />
      <button id="get" name="username">Näytä käyttäjän kommentit</button>
    </p>
  </form>
  {% endif %}
  {% if session.username == user.username or session.admin %}
  <div class="admin">
    <h3>Ylläpitopaneeli</h3>
    <p>
      <a href="/add_image/{{ user.id }}">Lisää/vaihda/poista profiilikuva</a>
    </p>
    <p>
      <a href="/change_password/{{ user.id }}">Vaihda salasana</a>
    </p>
    <p>
      <a href="/delete_user/{{ user.id }}">Poista käyttäjä</a>
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
