{% extends "layout.html" %}
{% block title %}Käyttäjä {{ user.username }}{% endblock %}
{% block nav %}
<li>
  <a href="/">Etusivulle</a>
</li>
{% if session.username %}
<li>
  <a href="/logout">Kirjaudu ulos</a>
</li>
{% else %}
<li>
  <a href="/register">Rekisteröidy</a>
</li>
<li>
  <a href="/login">Kirjaudu sisään</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="user">
  <p>
    {% if user.has_image %}
    <img id="image" src="/show_image/{{ user.id }}" alt="profiilikuva" />
    {% else %}
    <em>Ei profiilikuvaa</em>
    {% endif %}
  </p>
  <p>
    {{ user.post_count }} postausta
  </p>
  <p>
    {{ user.comment_count }} kommenttia
  </p>
  {% if session.username == user.username %}
  <div class="admin">
    <h3>Ylläpitopaneeli</h3>
    <p>
      <a href="/add_image">Lisää/vaihda/poista profiilikuva</a>
    </p>
    <p>
      <a href="/change_password">Vaihda salasana</a>
    </p>
    <p>
      <a href="/delete_user">Poista käyttäjä</a>
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
